.basic-button {
  color: black;
  border: 1px solid black;
  border-radius: 4px;

  height: fit-content;
  width: fit-content;

  padding: 12px 24px;
  background-color: white;

  transition-property: filter;
  transition-duration: 0.2s;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}

/* .basic-button:hover {
  cursor: pointer;
  filter: brightness(0.9);
} */
